<h3><span class="glyphicon glyphicon-education"></span> Education</h3>
<div class="left-border-emph card">
  <div class="card-body">
    <div class="">
        Portland State University (2016)
        <div class="pull-right">
          B.S. in Computer Science
        </div>
    </div>
    <div class="">
        Clark College (2012)
        <div class="pull-right">
          AAS Transfer Degree
        </div>
    </div>
    <div class="">
      Renton Technical College (2003)
      <div class="pull-right">
        AAS Degree in Computer Science
      </div>
    </div>
  </div>
</div>
