<!-- Fixed navbar -->

<nav class="navbar-default topmost">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <!--li><a href="about.html">About</a></li-->
      <li id="menuContact"><a href="#"><span class="fa fa-envelope"></span> Contact</a></li>
      <li><a href="https://github.com/ruv-prog-so" target="_blank"><i class="fa fa-github"></i> Github</a></li>
      <li><a href="https://www.linkedin.com/in/rubenpiatnitsky" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
    </ul>
  </div>
</nav>

<!-- contact information -->
<div id="contactPanel" class="alert alert-info fade in" style="display:none;">
  <div class="container row-centered text-center">
    <p class="text-primary">Thank you for your interest! Please click the button to send me an email.
    <a class="btn btn-md btn-success" href="mailto:r.piatnitsky@gmail.com" role="button">r.piatnitsky@gmail.com</a></p>
  </div>
</div>