<div class="jumbotron image-back" style="background-color: #e7e7e7;">
  <div class="container row-centered">
    <div class="col-md-12 col-sm-12">
      <div class="row">
      <div class="col-md-4 col-sm-10">
        <div class="pull-right">
          <img src="images/ruben_img_300x300.png" class="img-circle pull-right" height="100" width="100" />
        </div>
    </div>
      <div class="col-md-8 col-sm-12">
        <h1 class="pull-left"> Ruben Piatnitsky</h1>
      </div>
    </div>
      <div class="col-md-12 col-sm-12 text-center">
          <p>Currently working with an amazing team at The Standard as a Front-end Software Engineer. My interests are in web development, mobile app development, and programming in general. I'm well rounded in working at various levels of the development process and wish to learn more to improve my abilities.</p>
      </div>
    </div>

  </div>
</div>