<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>
      <span *ngFor="let item of skills" class="badge badge-pill"
      [ngClass]="{
        'badge-primary': item.category === 'Coding Languages',
        'badge-success': item.category === 'Persistent Storage',
        'badge-info': item.category === 'Frameworks',
        'badge-warning': item.category === 'Tools'
      }">{{ item.label}}</span>
</div>

<mat-chip-list>
  <mat-chip>item.label</mat-chip>
</mat-chip-list>
