body {
  background-color: #efefef !important;
}

.image-back {
  background-image: url('../images/sunshine_strip_blur.jpg');
  background-size: cover;
  background-position: 0% 60%;
  background-repeat: no-repeat;
  text-shadow: -1px 0 #efefef, 0 1px #efefef, 1px 0 #efefef, 0 -1px #efefef;
  -webkit-box-shadow: 0px 12px 54px -6px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 12px 54px -6px rgba(0,0,0,0.28);
  box-shadow: 0px 12px 54px -6px rgba(0,0,0,0.28);
}

.topmost {
  z-index: 999;
}

.jumbotron-custom {
    background-color: #efefef;
}

.left-border-emph {
    border: 1px solid #efefef;
    border-left: 7px solid #99ccff;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.right-border-emph {
    border: 1px solid #cfcfcf;
    border-right: 5px solid #efefef;
    padding-right: 15px;
}

.subtle-bottom-border {
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

.subtle-bottom-border div p {
     margin-bottom: 3px;
 }

.row-centered {
    text-align:center;
}
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
    margin: 0 !important;
}

.no-right-padding {
     padding-right: 0 !important;
     margin: 0 !important;
 }

 .no-side-padding {
     padding-right: 0 !important;
     padding-left: 0 !important;
     margin: 0 !important;
 }

 .margin-top-10 {
    margin-top: 10px;
 }

 .margin-top-5 {
    margin-top: 5px;
 }

 .footer {
    margin-top: 20px;
    padding-bottom: 35px;
    color: #afafaf;
    /*background-color: #efefef;*/
    padding: 20px 10px;
 }

 .fill {
    min-height: 100%;
 }

 .sidemenu.active {
    background-color: #99ccff !important;
    /*background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #cfcfcf !important;
    border-left: 7px solid #99ccff !important;
    padding-left: 15px;
    padding-bottom: 10px;*/
 }

 .sidemenu {

 }

 .caption-mod {
   /*color: #000 !important;*/
   width: 100%;
   right: 0 !important;
   left: 0 !important;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 45px !important;
   bottom: 0px !important;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,636363+100&0+22,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(22,22,22,0) 22%, rgba(99,99,99,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(22,22,22,0) 22%,rgba(99,99,99,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(22,22,22,0) 22%,rgba(99,99,99,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6636363',GradientType=0 ); /* IE6-9 */
 }

 .carousel-controls.right {
    right: 0;
    left: auto;
}

.carousel-controls.left {
   right: auto;
   left: 0;
}

.carousel-controls {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-indicators {
  bottom: 10px !important;
}

.carousel-indicators li {
}

.carousel-indicators .active {
}
