<h4>Related Classes</h4>
<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-5">
    <div class="left-border-emph card card-default">
      <div class="card-header"><h4 class="card-title">Computer Science</h4></div>
      <div class="card-body">
        <ul>
          <li>Discrete Data Structures (C++)</li>
          <li>Programming Systems (C++)</li>
          <li>Algorithms</li>
          <li>Compiler Design (Java)</li>
          <li>Parallel Programming (C++, Chapel)</li>
          <li>Computer Vision (C++)</li>
        </ul>
        <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
      </div>
    </div>
</div>
<div class="col-md-4 col-xs-6 col-sm-5">
  <div class="left-border-emph card card-default">
    <div class="card-header"><h4 class="card-title">Science / Mathematics</h4></div>
    <div class="card-body">
      <ul>
        <li>Calculus Series</li>
        <li>Applied Linear Algebra</li>
        <li>Physics Series (Calculus)</li>
        <li>Chemistry</li>
        <li>Computational Theory</li>
        <li>Digital Circuits</li>
      </ul>
      <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
    </div>
  </div>
</div>
<div class="col-md-4 col-xs-6 col-sm-5">
  <div class="left-border-emph card card-default">
    <div class="card-header"><h4 class="card-title">Other</h4></div>
    <div class="card-body">
      <ul>
        <li>Computer Networks</li>
        <li>Operating Systems</li>
        <li>Open Source (Java)</li>
        <li>Ethics</li>
        <li>Philosophy</li>
      </ul>
      <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
    </div>
  </div>
</div>
</div>